<h1 class="name"><%= @contact.first_name %> <%= @contact.last_name %></h1>


<p class="contacts"><strong>ID:</strong> <%= @contact.id %></p>
<p class="contacts"><strong>Email:</strong> <%= @contact.email %></p>
<p class="contacts"><strong>Note:</strong> <%= @contact.note %></p>

<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete" name="Delete Contact">
</form>

<p class="modify_button"><a href="/contacts/<%= @contact.id %>/edit">Modify this contact</a></p>